<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
<form action="login-form.php" method="POST" style="display: inline-block;">  
    <fieldset>
        <legend>Password Change:</legend>

        <label for="OldPassword">Current Password:</label><br>
        <input type="text" id="OldPassword" name="OldPassword" >
       
            </input><br>


       <br> <label for="Newpassword">New password:</label><br>
        <input type="password" id="Newpassword" name="Newpassword" >
    
            </input><br>
       <br> <label for="Repassword">Retype New password:</label><br>
        <input type="password" id="Repassword" name="Repassword" >
        
                </input><br>
      </fieldset> 
      <br>
      <input type="submit" value="Confirm">
      <input type="submit" value="Cancel">
    </form>     
</body>
</html>