<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/auth.css">
</head>
<body >
<form style = "padding: 10% 30%; height: 60vh;"  class = "inputDiv" action="../controller/forgetpassword.controller.php" method="POST" style="display: inline-block;">  
    <!-- <fieldset> -->
        
        <h1 style ="text-align: center;">Forget Password</h1>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" >
       
            </input><br>


       <br> <label for="password">New password:</label><br>
        <input type="password" id="password" name="password" >
    
            </input>
            
            <br>
            <br>
            <label for="password">Repeat New Password:</label><br>
            <input type="password" id="password" name="repassword" >
        
                </input>
                
                <br>
      <!-- </fieldset>  -->
      <br>
      <input type="submit" value="Confirm">
    </form>     
</body>
</html>